body {
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 75px;
  line-height: 111%;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 45px;
  line-height: 1.22em;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 156%;
}

li {
  list-style-type: none;
}

.slick-slide {
  outline: none !important; 
  transition: all 500ms ease;
}

.info-block-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 35px;
  padding-right: 57px;
  padding-left: 57px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #08422c;
}

.link-top {
  display: inline-block;
  margin-right: 25px;
  padding-left: 23px;
  background-image: url('../images/room-white-18dp.svg');
  background-position: 0% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #cdcdcd;
  font-size: 13px;
  text-decoration: none;
}

.link-top:hover {
  color: #fff;
}

.link-top.mail {
  background-image: url('../images/email-white-18dp.svg');
}

.link-top.profil {
  margin-right: 0px;
  background-image: url('../images/perm_identity-white-18dp.svg');
}

.link-top.telephone {
  background-image: url('../images/call-white-18dp.svg');
}

.links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.search-btn {
  width: 20px;
  height: 25px;
  background-color: transparent;
  background-image: url('../images/search.svg');
  background-position: 50% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.search-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 185px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-input {
  height: 14px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: transparent;
  color: #fff;
}

.search-input:focus {
  border-bottom-color: #fff;
}

.navbar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  padding-right: 57px;
  padding-left: 57px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar.show {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 40px;
  padding: 10px 20px;
}

.nav-link {
  margin-right: auto;
  margin-left: auto;
  padding: 3px 5px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #000;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom: 2px solid #000;
}

.nav-link.soc {
  margin-right: 20px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-link.cart {
  margin-right: 15px;
  padding-left: 30px;
  background-image: url('../images/shopping-cart.svg');
  background-position: 0% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.nav-link.menu {
  display: block;
  width: 20px;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: none;
  background-image: url('../images/menu-right-alt.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition-property: none;
  transition-property: none;
}

.nav-link.menu:hover {
  border-bottom-style: none;
}

.nav-link.wish {
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 30px;
  background-image: url('../images/favorite_border-black-18dp.svg');
  background-position: 0% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.nav-link.last {
  margin-right: 0px;
}

.nav-link.first {
  margin-left: 0px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  width: 145px;
  margin-top: 37px;
  margin-right: auto;
  margin-left: auto;
}

.brand.telephone {
  display: none;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hidden {
  display: none;
}

.s1 {
  padding-right: 57px;
  padding-left: 57px;
}

.slide-head {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.slide-head._2 {
  background-color: #bd6060;
}

.slide-head._3 {
  background-color: #000;
}

.slider-label {
  font-size: 11px;
  letter-spacing: 3px;
}

.slider-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 740px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-btn {
  margin-top: 20px;
  padding: 15px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  font-size: 15px;
  text-transform: uppercase;
}

.s2 {
  padding: 110px 57px 80px;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-label {
  color: grey;
  font-size: 11px;
  line-height: 1.818em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.heading-label.margin-top {
  margin-top: 25px;
}

.grid-items {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  margin-bottom: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-product-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card {
  color: #000;
  text-decoration: none;
}

.heading-card {
  color: #444;
  font-size: 17px;
  line-height: 1.58em;
}

.pre-label {
  color: #909090;
  font-size: 15px;
}

.price-card {
  color: #909090;
  font-size: 15px;
}

.cards-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
}

.big-card {
  width: 55%;
  margin-right: 25px;
  background-color: #a5a5a5;
  background-image: url('../images/baba-q.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.small-grid {
  display: -ms-grid;
  display: grid;
  width: 45%;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #050505;
  color: #fff;
  text-decoration: none;
}

.image-card.sumki {
  background-image: url('../images/sumki.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-card.baba-w {
  background-image: url('../images/baba-w.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.icons-cards-wrapper {
  display: -ms-grid;
  display: grid;
  margin: 118px 50px 110px;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.separator-card {
  padding-top: 126px;
  padding-bottom: 150px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #d8d8d8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/lukasz-szmigiel-NeSykhHkyQw-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/lukasz-szmigiel-NeSykhHkyQw-unsplash.jpg');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
  text-align: right;
}

.sep-content {
  display: inline-block;
  margin-right: 78px;
  margin-left: 26px;
}

.label {
  margin-top: 15px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 500;
}

.icon-p {
  font-size: 14px;
}

.s3 {
  padding-right: 57px;
  padding-bottom: 120px;
  padding-left: 57px;
}

.date-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat, sans-serif;
  color: grey;
  font-size: 11px;
  line-height: 1.818em;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

.more-btn {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.more-btn:hover {
  padding-left: 20px;
}

.margin {
  margin-right: 10px;
  margin-left: 10px;
}

.blog-heading {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 500;
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  width: 95%;
  max-width: 1300px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-blog {
  margin-top: 30px;
}

.video-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 480px;
  margin-top: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-image: url('../images/cesira-alvarado-Wm_wpUzZ9no-unsplash.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-attachment: fixed;
}

.play-btn {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  background-image: url('../images/play-button.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.s4 {
  padding-right: 57px;
  padding-left: 57px;
}

.grid-models {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-model {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  text-align: center;
}

.card-model:hover {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.model-title {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: grey;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 400;
}

.grid-images {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image {
  width: 100%;
  height: 100%;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.image:hover {
  box-shadow: 0 0 26px 12px rgba(97, 97, 97, 0.32);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.beands-wrapper {
  display: -ms-grid;
  display: grid;
  margin-right: 80px;
  margin-bottom: 20px;
  margin-left: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  padding-top: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fafafa;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.footer-flex-container.new-setting {
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo-link {
  display: block;
  width: 160px;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 400;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  font-size: 15px;
  line-height: 1.58em;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.email {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.form-input {
  margin-bottom: 0px;
}

.sumbit-btn {
  width: 50px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #08422c;
  background-image: url('../images/chevron-right.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.footer-other-info {
  background-color: #f3f3f3;
}

.nav-items {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.products-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-otz {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.arrow {
  position: absolute;
  left: 2%;
  top: auto;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/arrow-left.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
}

.arrow:hover {
  padding-right: 20px;
}

.arrow.right {
  left: auto;
  right: 2%;
  background-image: url('../images/arrow-right.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.arrow.right:hover {
  padding-right: 0px;
  padding-left: 20px;
  -webkit-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}

.arrow.left:hover {
  -webkit-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
}

.slide-otz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 150px;
  padding-left: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.otz-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-otz {
  font-size: 16px;
  font-weight: 600;
}

.mask {
  width: 95%;
  max-width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.dots {
  display: none;
}

.slider-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.arrow-otz {
  width: 50px;
  height: 30px;
  background-image: url('../images/arrow-left.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
}

.arrow-otz.right {
  left: auto;
  right: 0%;
  background-image: url('../images/arrow-right.svg');
}

.arrow-otz.right:hover {
  -webkit-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}

.arrow-otz.left:hover {
  -webkit-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
}

.slider-otz-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/quote-icon-testimonials.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-nav {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .info-block-top {
    display: none;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  .nav-link.soc {
    display: inline-block;
    margin-bottom: 0px;
  }

  .nav-link.cart {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    white-space: nowrap;
  }

  .nav-link.menu {
    display: none;
  }

  .nav-link.wish {
    display: none;
  }

  .nav-menu {
    width: 100%;
    margin-left: 0px;
    padding: 30px 57px;
    background-color: #fff;
  }

  .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand {
    display: none;
  }

  .brand.telephone {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .header {
    padding-bottom: 68px;
  }

  .slide-head {
    text-align: center;
  }

  .slider-head {
    height: 500px;
  }

  .grid-items {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .big-card {
    width: 100%;
    height: 500px;
  }

  .small-grid {
    width: 100%;
    margin-top: 30px;
  }

  .image-card {
    width: 100%;
    height: 300px;
  }

  .icons-cards-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .menu-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
    color: #000;
  }

  .blog-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-models {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .beands-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }

  .footer {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .products-items {
    width: auto;
    margin-left: 0px;
  }

  .soc-items {
    display: none;
  }

  .arrow {
    display: none;
  }

  .slide-otz {
    padding-right: 50px;
    padding-left: 50px;
  }

  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .arrow-slider {
    display: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .dots {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slider-wrapper {
    position: relative;
  }

  .dot {
    display: inline-block;
    width: 30px;
    height: 23px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .info-block-top {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    padding-bottom: 68px;
  }

  .s1 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .s2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-items {
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .small-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .icon-card {
    width: 100%;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-cards-wrapper {
    margin-right: 0px;
    margin-left: 0px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .menu-button {
    padding-right: 0px;
  }

  .s3 {
    padding-right: 31px;
    padding-left: 31px;
  }

  .blog-grid {
    width: 75%;
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .s4 {
    padding-right: 31px;
    padding-left: 31px;
  }

  .grid-models {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .beands-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .arrow {
    display: none;
  }

  .slide-otz {
    padding-right: 0px;
    padding-left: 0px;
  }

  .slide-p {
    display: none;
  }

  .slide-h {
    font-size: 12vw;
  }

  .slider-nav {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .info-block-top {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .link-top.mail {
    margin-right: 0px;
    margin-left: auto;
  }

  .link-top.profil {
    margin-left: auto;
  }

  .nav-menu {
    padding-right: 20px;
    padding-left: 20px;
  }

  .brand.telephone {
    max-width: 145px;
  }

  .slider-label {
    margin-bottom: 10px;
  }

  .s2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-wrapper {
    text-align: center;
  }

  .big-card {
    height: 300px;
    margin-right: 0px;
  }

  .small-grid {
    width: 100%;
    height: 100%;
    margin-top: 25px;
  }

  .separator-card {
    padding-right: 20px;
    padding-left: 20px;
  }

  .sep-content {
    margin-right: 0px;
    margin-left: 0px;
  }

  .s3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .blog-grid {
    width: 100%;
  }

  .s4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-models {
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .beands-wrapper {
    margin-bottom: 80px;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer {
    text-align: left;
  }

  .footer-flex-container {
    margin-bottom: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-flex-container.new-setting {
    width: 100%;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .arrow {
    display: none;
  }

  .slider-p {
    display: none;
  }
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}