body {
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.58em;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 75px;
  line-height: 111%;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 45px;
  line-height: 1.22em;
  font-weight: 500;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 156%;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.info-block-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 35px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #08422c;
}

.link-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #cdcdcd;
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  text-decoration: none;
}

.link-top:hover {
  color: #fff;
}

.link-top.profil {
  margin-right: 0px;
}

.links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-btn {
  width: 20px;
  height: 25px;
  background-color: transparent;
  font-family: 'Simple line icons', sans-serif;
}

.search-btn.lnr-chevron-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.search-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 185px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-input {
  height: 14px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: transparent;
  color: #fff;
}

.search-input:focus {
  border-bottom-color: #fff;
}

.navbar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar.show {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  height: 69px;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 3px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link.soc {
  margin-right: 20px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-link.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link.inr-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-style: none;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  -webkit-transition-property: none;
  transition-property: none;
  font-family: 'Simple line icons', sans-serif;
}

.nav-link.inr-menu:hover {
  border-bottom-style: none;
}

.nav-link.wish {
  margin-right: 20px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 25px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  width: 145px;
  margin-top: 37px;
  margin-right: auto;
  margin-left: auto;
}

.brand.telephone {
  display: none;
}

.brand.nav {
  width: 30%;
  margin-top: 0px;
  margin-left: 0px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
}

.container.s4 {
  padding-bottom: 73px;
}

.slide-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.slide-head._2 {
  background-color: #bd6060;
}

.slide-head._3 {
  background-color: #4913ad;
}

.slider-label {
  font-size: 11px;
  letter-spacing: 3px;
}

.slider-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 740px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.border-btn {
  margin-top: 20px;
  padding: 13px 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  font-size: 11px;
  line-height: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.border-btn.green {
  background-color: #08422c;
}

.s2 {
  padding-top: 110px;
  padding-bottom: 80px;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-label {
  color: grey;
  font-size: 11px;
  line-height: 1.818em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.heading-label.model-label {
  margin-top: 25px;
  font-weight: 600;
}

.heading-label.model-label.margin-off {
  margin-top: 0px;
}

.grid-items {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  margin-bottom: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-product-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card {
  color: #000;
  text-decoration: none;
}

.heading-card {
  color: #444;
  font-size: 17px;
  line-height: 1.58em;
}

.pre-label {
  color: #909090;
  font-size: 15px;
}

.price-card {
  color: #909090;
  font-size: 15px;
}

.cards-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.big-card {
  width: 100%;
  height: 100%;
}

.small-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #050505;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.image-card.sumki {
  background-image: url('../images/sumki.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-card.baba-w {
  background-image: url('../images/baba-w.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.icons-cards-wrapper {
  display: -ms-grid;
  display: grid;
  width: 95%;
  max-width: 1180px;
  margin: 118px auto 110px;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.separator-card {
  padding-top: 126px;
  padding-bottom: 150px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #d8d8d8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/lukasz-szmigiel-NeSykhHkyQw-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/lukasz-szmigiel-NeSykhHkyQw-unsplash.jpg');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
  text-align: right;
}

.sep-content {
  display: inline-block;
  margin-right: 250px;
  margin-left: 26px;
}

.label {
  margin-top: 15px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 500;
}

.icon-p {
  font-size: 14px;
}

.s3 {
  padding-bottom: 120px;
}

.date-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat, sans-serif;
  color: grey;
  font-size: 11px;
  line-height: 1.818em;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

.more-btn {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 11px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.margin {
  margin-right: 10px;
  margin-left: 10px;
}

.blog-heading {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 500;
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  width: 95%;
  max-width: 1300px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-blog {
  margin-top: 30px;
}

.video-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 480px;
  margin-top: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-image: url('../images/cesira-alvarado-Wm_wpUzZ9no-unsplash.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-attachment: fixed;
}

.play-btn {
  width: 52px;
  height: 52px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  background-image: url('../images/play-button.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.grid-models {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-model {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.model-title {
  margin-top: 0px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: grey;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 500;
}

.grid-images {
  display: -ms-grid;
  display: grid;
  margin-top: 70px;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.image {
  overflow: hidden;
}

.beands-wrapper {
  display: -ms-grid;
  display: grid;
  width: 95%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  padding-top: 102px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fafafa;
  text-align: center;
}

.footer-flex-container {
  display: -ms-grid;
  display: grid;
  width: 98%;
  max-width: 1300px;
  margin-right: auto;
  margin-bottom: 92px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.footer-flex-container.new-setting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 12px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo-link {
  display: block;
  width: 160px;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 500;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  font-size: 15px;
  line-height: 1.58em;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.email {
  margin-top: 14px;
  margin-bottom: 17px;
}

.footer-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 302px;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-input {
  margin-bottom: 0px;
}

.sumbit-btn {
  width: 50px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #08422c;
  background-image: url('../images/chevron-right.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.footer-other-info {
  background-color: #f3f3f3;
}

.products-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-otz {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.tparrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: 'Simple line icons', sans-serif;
  color: #fff;
  cursor: pointer;
}

.tparrow:hover {
  padding-right: 20px;
}

.tparrow.arrow-right {
  left: auto;
  right: 2%;
  z-index: 100;
  background-image: url('../images/slider-arrow-right.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.tparrow.arrow-right:hover {
  padding-right: 0px;
  padding-left: 20px;
  -webkit-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}

.tparrow.arrow-left {
  max-width: none;
  background-image: url('../images/slider-arrow-left.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.tparrow.arrow-left:hover {
  -webkit-transform: translate(-5px, 0px);
  -ms-transform: translate(-5px, 0px);
  transform: translate(-5px, 0px);
}

.slide-otz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 150px;
  padding-left: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.otz-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-otz {
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 400;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.dots {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-otz {
  width: 50px;
  height: 30px;
  background-image: url('../images/arrow-left.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
}

.arrow-otz.right {
  left: auto;
  right: 0%;
  background-image: url('../images/arrow-right.svg');
}

.arrow-otz.right:hover {
  -webkit-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}

.arrow-otz.left:hover {
  -webkit-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
}

.slider-otz-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/quote-icon-testimonials.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.slider-nav {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.font-icon {
  width: 10px;
  margin-right: 5px;
  padding-right: 15px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: 'Simple line icons', sans-serif;
  font-size: 13px;
}

.font-icon.icon-handbag {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 2px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.font-icon.icon-heart {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.font-icon.icon-heart.product-setting {
  position: static;
  height: 15px;
  margin-right: 0px;
  font-size: 15px;
}

.font-icon.icon-heart.product-setting:hover {
  color: #08422c;
}

.font-icon.icon-repl.product-setting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  margin-right: 0px;
  font-size: 15px;
}

.font-icon.icon-repl.product-setting:hover {
  color: #08422c;
}

.font-icon.icon-glaz.product-setting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  margin-right: 0px;
  font-size: 15px;
}

.font-icon.icon-glaz.product-setting:hover {
  color: #08422c;
}

.search-wrapper-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -1px;
}

.footer-link-block {
  margin-right: 15px;
  margin-left: 15px;
}

.dd {
  margin-right: 0px;
  margin-left: 0px;
}

.dd-toggle {
  width: 100%;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.brand-menu {
  width: 120px;
  max-width: none;
}

.copyright {
  font-size: 15px;
}

.dd-list-border {
  left: auto;
  right: 0%;
  overflow: hidden;
  width: 100%;
  padding-top: 16px;
  background-color: transparent;
}

.dd-list-border.w--open {
  min-width: 300px;
}

.dd-list-border.abs-setting {
  left: 0%;
  right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dd-list-border.abs-setting.dop-menu-side {
  overflow: visible;
  width: 250px;
  padding-top: 16px;
}

.dd-list-border.abs-setting.dop-menu-side.w--open {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dd-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  padding: 40px 31px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 3px 1px 1px;
  border-color: #08422c #efefef #efefef;
  background-color: #fff;
}

.dd-content.w--open {
  left: auto;
  right: 0%;
}

.link-botthom {
  width: 100%;
  height: 1px;
  margin-top: 0px;
  background-color: #000;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}

.sub-menu {
  margin-bottom: 0px;
  padding: 22px 25px 23px 29px;
  border-style: solid;
  border-width: 3px 1px 1px;
  border-color: #08422c #efefef #efefef;
  background-color: #fff;
}

.sub-menu.w--open {
  left: 130%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.dd-link {
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333;
  font-size: 15px;
  line-height: 1.58em;
  text-decoration: none;
}

.dd-link-margin {
  position: relative;
  margin-bottom: 10px;
}

.dd-link-margin.chevron {
  background-image: url('../images/chevron-right-hray.svg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.dd-double {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dd-list-double {
  left: 90%;
  right: auto;
  background-color: transparent;
}

.dd-toggle-double {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.dd-list-double-wrapper {
  margin-left: 50px;
  padding: 40px 30px;
  border-style: solid;
  border-width: 3px 1px 1px;
  border-color: #08422c #efefef #efefef;
  background-color: #fff;
}

.image-gallery {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.image-gallery:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.client {
  height: 100px;
  max-width: 100%;
  background-image: url('../images/p1-clients-img-2.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.client:hover {
  background-image: url('../images/p1-clients-img-2-hover.png');
}

.model-hover-block {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #08422c;
  background-color: hsla(0, 0%, 100%, 0.95);
  opacity: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.model-hover-block:hover {
  opacity: 1;
}

.model-img-wrapper {
  position: relative;
}

.soc-model {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.line-more-btn {
  height: 1px;
  margin-top: 2px;
  background-color: #000;
}

.blog-img {
  -webkit-transform: scale(1.075);
  -ms-transform: scale(1.075);
  transform: scale(1.075);
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.blog-img:hover {
  -webkit-transform: translate(10px, 0px) scale(1.075);
  -ms-transform: translate(10px, 0px) scale(1.075);
  transform: translate(10px, 0px) scale(1.075);
}

.blog-img-wrapper {
  position: relative;
  overflow: hidden;
}

.product-hover-wrapper {
  position: relative;
}

.product-hover-mask {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: 1px solid #08422c;
  background-color: hsla(0, 0%, 100%, 0.95);
  opacity: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.product-hover-mask:hover {
  opacity: 1;
}

.burger {
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  background-color: #000;
}

.arrow-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-wrapper {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}

.dot-line {
  height: 2px;
  margin-top: 3px;
  background-color: #fff;
  opacity: 0;
}

.bg-img {
  display: block;
  width: 100%;
  max-width: none;
}

.product-icon {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .info-block-top {
    display: none;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  .nav-link.soc {
    display: inline-block;
    margin-bottom: 0px;
  }

  .nav-link.cart {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    white-space: nowrap;
  }

  .nav-link.inr-menu {
    margin-bottom: 0px;
  }

  .nav-link.inr-menu.telephone-hidden {
    display: none;
  }

  .nav-link.wish {
    display: none;
  }

  .nav-menu {
    width: 100%;
    margin-left: 0px;
    padding: 30px 57px;
    background-color: #fff;
  }

  .nav-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand {
    display: none;
  }

  .brand.telephone {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .brand.nav.telephone {
    display: block;
    width: auto;
  }

  .header {
    padding-bottom: 68px;
  }

  .slide-head {
    text-align: center;
  }

  .slider-head {
    height: 500px;
  }

  .grid-items {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .small-grid {
    grid-auto-rows: 1fr;
  }

  .image-card {
    height: 300px;
  }

  .icons-cards-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sep-content {
    margin-right: 100px;
  }

  .menu-button {
    width: 33.333333333333336%;
    padding: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .menu-button.w--open {
    background-color: transparent;
    color: #000;
  }

  .blog-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-models {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .beands-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }

  .footer {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products-items {
    width: 33.333333333333336%;
    margin-left: 0px;
  }

  .soc-items {
    display: none;
  }

  .tparrow {
    display: none;
  }

  .slide-otz {
    padding-right: 50px;
    padding-left: 50px;
  }

  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .dots {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 5%;
    z-index: 6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dot-line {
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .info-block-top {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    padding-bottom: 68px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .s2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-items {
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .small-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .icon-card {
    width: 100%;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-cards-wrapper {
    margin-right: 0px;
    margin-left: 0px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sep-content {
    margin-right: 26px;
  }

  .menu-button {
    padding-right: 0px;
  }

  .s3 {
    padding-right: 31px;
    padding-left: 31px;
  }

  .blog-grid {
    width: 75%;
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .s4 {
    padding-right: 31px;
    padding-left: 31px;
  }

  .grid-models {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .beands-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-flex-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .tparrow {
    display: none;
  }

  .slide-otz {
    padding-right: 0px;
    padding-left: 0px;
  }

  .list {
    width: auto;
  }

  .slide-h {
    font-size: 12vw;
  }

  .slider-nav {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .info-block-top {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .link-top.mail {
    margin-right: 0px;
    margin-left: auto;
  }

  .link-top.profil {
    margin-left: auto;
  }

  .nav-menu {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .brand.telephone {
    max-width: 145px;
  }

  .brand.nav.telephone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33.333333333333336%;
    max-width: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header {
    padding-bottom: 55px;
  }

  .slider-label {
    margin-bottom: 10px;
  }

  .s2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-wrapper {
    text-align: center;
  }

  .small-grid {
    width: 100%;
    height: 100%;
    margin-top: 25px;
  }

  .image-card {
    height: 200px;
  }

  .separator-card {
    padding-right: 20px;
    padding-left: 20px;
  }

  .sep-content {
    margin-right: 0px;
    margin-left: 0px;
  }

  .s3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .blog-grid {
    width: 100%;
  }

  .s4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-models {
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .beands-wrapper {
    margin-bottom: 80px;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer {
    text-align: left;
  }

  .footer-flex-container {
    margin-bottom: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-flex-container.new-setting {
    width: 100%;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .tparrow {
    display: none;
  }

  .slider-p {
    display: none;
  }

  .client {
    width: 100%;
  }
}

@font-face {
  font-family: 'Simple line icons';
  src: url('../fonts/Simple-Line-Icons.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}